@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import "../font/wotfard.css";
@keyframes opacity_load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.user-dropdown-container {
  position: relative;
  z-index: 2;
  background-color: #FFF;
  max-height: 72px;
  padding-top: 9.5px;
  padding-bottom: 20px;
  overflow-y: hidden;
  box-sizing: border-box;
  border: 3px solid #dbdbe6;
  border-radius: 10px;
  user-select: none;
  box-shadow: 2px 5px 5px #F0F0F0;
  transition: max-height 0.15s ease-out;
}
.user-dropdown-container.expand {
  max-height: 200px !important;
  transition: max-height 0.25s ease-in;
}
.user-dropdown-container.expand #userDisplay svg {
  transform: scaleY(-1);
}
.user-dropdown-container .user-dropdown-options {
  margin-top: 10px;
}
.user-dropdown-container .user-dropdown-options .option {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.user-dropdown-container .user-dropdown-options .option:hover {
  cursor: pointer;
  opacity: 0.7;
}

#authWindow {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#userDisplay {
  height: 50px;
  position: relative;
  z-index: 2;
}
#userDisplay:hover {
  cursor: pointer;
}
#userDisplay:hover img {
  padding: 5px;
}

#userPhoto {
  height: inherit;
  border-radius: 50%;
  max-width: 50px;
  overflow: hidden;
  background-image: linear-gradient(110deg, #5119de, #a191e9);
  padding: 3px;
}

@keyframes opacity_load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.server-icon-container {
  float: left;
  height: 5rem;
  max-width: 5rem;
  box-sizing: content-box;
  border: 3px solid #dbdbe6;
  border-radius: 2.5rem;
  background-color: #FFF;
  margin-bottom: 16px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.3rem;
  width: fit-content;
  transition: 0.3s max-width;
  cursor: pointer;
  transform: translateZ(0);
  user-select: none;
  z-index: 100;
}
.server-icon-container:hover {
  max-width: 300px;
}
.server-icon-container.expanded {
  max-width: 300px;
}
.server-icon-container.selected {
  border: 3px solid #5119de;
}
.server-icon-container .server-name {
  margin-right: 16px;
}

.server-icon {
  min-width: 5rem;
  text-align: center;
  font-size: 2.5rem;
}

#addServer {
  animation-delay: 1s;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.spinner {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.spinner-component {
  width: 6px;
  height: 30px;
  max-height: 6px;
  border-radius: 3px;
  margin-right: 2px;
  background: linear-gradient(#a191e9, #5119de);
  animation: stretch_unstretch 1s ease-in-out infinite;
}
.spinner-component:nth-child(1) {
  animation-delay: 0.15s;
}
.spinner-component:nth-child(2) {
  animation-delay: 0.3s;
}
.spinner-component:nth-child(3) {
  animation-delay: 0.45s;
}
.spinner-component:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes stretch_unstretch {
  0% {
    max-height: 6px;
  }
  30% {
    max-height: 30px;
  }
  100% {
    max-height: 6px;
  }
}
.console {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 500px;
  font-family: "PT Mono", monospace;
  font-size: 14px;
  border: 3px solid #dbdbe6;
  border-radius: 10px;
  box-shadow: 2px 5px 5px #F0F0F0;
  background-color: #FCFCFE;
}

.console-text {
  white-space: pre-wrap;
  overflow-y: scroll;
  height: 460px;
  scrollbar-color: #CCC #FFF;
  scrollbar-width: thin;
  padding: 20px;
}
.console-text p {
  margin-bottom: 0;
}

.console-input-container {
  float: bottom;
  width: 100%;
  height: 40px;
  border-top: 3px solid #DDD;
  border-width: 3px;
}

.console-input {
  width: 100%;
  height: 100%;
  border: 0;
  border-top: 3px;
  background-color: #FFF;
  border-radius: 0 0 7px 7px;
  font-family: "PT Mono", monospace;
  font-size: 14px;
  padding-left: 20px;
}

@keyframes opacity_load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.sidebar {
  position: absolute;
  background-color: #FCFCFE;
  left: 0;
  top: 120px;
  width: 120px;
  padding: 20px 20px 0 15px;
  margin-left: 20px;
  border-radius: 10px;
  border: 3px solid #dbdbe6;
  box-shadow: 2px 5px 5px #F0F0F0;
}
.sidebar * {
  animation: 0.5s ease-in-out both opacity_load;
}
.sidebar:nth-child(1) {
  animation-delay: 0.5s;
}
.sidebar:nth-child(2) {
  animation-delay: 1s;
}
.sidebar:nth-child(3) {
  animation-delay: 1.5s;
}
.sidebar:nth-child(4) {
  animation-delay: 2s;
}
.sidebar:nth-child(5) {
  animation-delay: 2.5s;
}
.sidebar:nth-child(6) {
  animation-delay: 3s;
}
.sidebar:nth-child(7) {
  animation-delay: 3.5s;
}
.sidebar:nth-child(8) {
  animation-delay: 4s;
}
.sidebar:nth-child(9) {
  animation-delay: 4.5s;
}
.sidebar:nth-child(10) {
  animation-delay: 5s;
}

.server-name {
  font-size: 1.5rem;
}

.power-group {
  border-radius: 10px;
  border: 3px solid #dbdbe6;
  box-shadow: 2px 5px 5px #F0F0F0;
}

.menu-item {
  border-radius: 10px;
  min-width: 50px;
}
.menu-item.selected {
  background: linear-gradient(110deg, #5119de, #a191e9);
  color: #FFF !important;
  box-shadow: 2px 5px 5px #F0F0F0;
}
.menu-item.selected small {
  color: #FFF !important;
}

.menu-icon {
  width: 24px;
  height: 24px;
}

#dashboardContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 120px 160px 160px;
}

#dashboard {
  padding: 20px;
  border: 3px solid #dbdbe6;
  border-radius: 10px;
  background: linear-gradient(#FFF, #FCFCFE);
  box-shadow: 2px 5px 5px #F0F0F0;
  margin-left: clamp($pw-dashboard-min-margin, 50%, 10000px);
  width: clamp(1000px, 80vw, 1800px);
}

#serverNameCluster {
  border-bottom: 1px solid #dbdbe6;
  flex-direction: row;
  padding-bottom: 0.6rem;
}

@media (max-width: 960px) {
  #serverNameCluster {
    flex-direction: column;
  }
  #serverNameCluster small {
    padding-left: 0;
  }

  .menu-icon {
    width: 16px;
    height: 16px;
  }
}
.form-group {
  margin-bottom: 1rem;
}

body {
  margin: 0;
  font-family: "Wotfard", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #231a1a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding-top: 15px;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  z-index: 100;
}

.hr-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #dbdbe6;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.hr-text small {
  background: #FFF;
  padding: 0 20px;
}

.content {
  margin-top: 100px;
  min-height: calc(100vh - 100px);
}

.icon {
  width: 72px;
}

.very-small {
  font-size: 0.7em;
  letter-spacing: 0.08em;
}

.gradient-text {
  background: -webkit-linear-gradient(110deg, #5119de, #a191e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clickable {
  cursor: pointer;
  user-select: none;
}
.clickable:hover {
  opacity: 0.6;
}

:not(.no-animate) {
  transition: 0.2s;
}

/*# sourceMappingURL=index.css.map */
